.carouselContainer {
  height:400px;
  background: -webkit-linear-gradient(bottom, white, white 30%, #435061 30%, #435061);
}

.leftArrow {
  z-index:99;
  position:relative;
  float:left;
}

.rightArrow {
  z-index:99;
  position:relative;
  float:right;
}
