.carouselHeader {
  height:350px;
  background: -webkit-linear-gradient(bottom, white, white 20%, #435061 20%, #435061);
  background:#435061;
}

.carouselContainer {
  margin-left:110px;
  margin-right:110px;
}

.leftArrow {
  height:30px;
  width:30px;
  margin-top:125px;
  margin-left:70px;
  float:left;
  cursor:pointer;
}

.rightArrow {
  height:30px;
  width:30px;
  margin-top:125px;
  margin-right:70px;
  float:right;
  cursor:pointer;
}

.header {
  padding-left:70px;
  padding-right:70px;
  color:#435061;
  display:block;
  margin:0;
}

.header h1 {
  display:inline-block;
}

.searchbarContainer {
  float:right;
  margin-left:30px;
  margin-top:15px;
  width:75%;
  display:inline-block;
}

.secondaryHeader {
  margin-top:-40px;
  padding-left:70px;
  display:flex;
  width:100%;

}

.secondaryHeader p {
  padding:0;
  margin:0;
}

.locationButton {
  display:inline-block;
  cursor:pointer;
}

.secondaryHeader p {
  display:inline-block;
  color:#9199A3;
}

.locationIcon {
  height:15px;
  width:15px;
  display:inline-block;
}

.dropdownIndicator {
  height:12px;
  width:9px;
  margin-left:5px;
  display:inline-block
}

.switch {
  margin-left:30px;
  display:inline-block;
}

.switch p {
  margin-right:5px;
}

.events {
  width:100%;
  padding:70px;
  height:700px;
  padding-top:20px;
}

.eventsTable {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right:70px;
}
