.AccountCardsContainer {
  margin-left:70px;
  margin-right:70px;
  display:flex;
  justify-content:space-between;
}

.AccountGraphicsContainer {
  margin-left:70px;
  margin-right:70px;
  margin-top:30px;

  display:flex;
  justify-content:left;
}

.header {
  margin-left:70px;
  color:#435061;
}
