.BankLoginPopup {
  background:white;
  width:400px;
  border-radius:10px;
  margin-left:30%;
  margin-top:70px;
}


.BankLoginPopup button {
  width:80%;
  height:35px;
  margin-top:20px;
  font-size:15px;
  box-shadow: 1px 1px 1px #888888;
  margin-bottom:30px;
  margin-left:12%;
}

.exitButton {
  font-weight:300;
  font-size:20px;
  color:#9199A3;
  float:right;
  background:none;
  cursor:pointer;
  margin:10px;
}


.BankLoginPopup h1 {
  font-weight:400;
  font-size:20px;
  margin-bottom:0px;
  display:inline-block;
  margin-left:21px;
  margin-top:50px;

}

.logo {
  float:left;
  margin-top:50px;
  border-radius:50%;
  width:90px;
  height:90px;
  margin-left:20px;
}

.inputs {
  display: block;
}

.input {
  -webkit-border-radius: 5px;
  height: 35px;
  font-weight: 300;
  font-size:15px;
  width:60%;
  padding-left:5px;
  margin-left:20px;
  margin-top:10px;
  text-align:left;
}
