.header {
  padding-left:70px;
  color:#313C4B;
  padding-right:70px;
  padding-bottom:20px;
}

.header h1 {
  margin-bottom:0px;
  margin-top:10px;
}

.header p {
  margin:0;
  padding:0;
  weight:300;
  color:#9199A3;
}

.skipButton {
  float:right;
  weight:300;
  color:#9199A3;
  margin-top:15px;
}

.divider {
  margin-top:10px;
  background:#AC9456;
  width:100%;
  height:5px;
}

.searchbarContainer {
  padding-left:70px;
  padding-right:70px;
}

.infoPane {
  float:right;
  padding-right:50px;
  padding-left:50px;
  width:20%;
  height:100%;
  border-left:2px solid #313C4B;
}

.QA {
  margin-bottom:60px;
  font-weight:300;
}

.QA p{
  margin-top:-10px;
  padding-top:0px;
}

.banksContainer{
  margin-top:20px;
  margin-left:70px;
  width:65%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom:50px;
}
