.header {
  padding-left:70px;
  color:#121212;
  padding-right:70px;
}

.header h1 {
  margin-bottom:0px;
  margin-top:10px;
}

.header p {
  margin:0;
  padding:0;
  weight:300;
  color:#B3B0AF;
}

.skipButton {
  float:right;
  weight:300;
  color:#B3B0AF;
  margin-top:15px;
}

.divider {
  margin-top:10px;
  background:#AC9456;
  margin-left:70px;
  margin-right:70px;
  margin-bottom:20px;
  margin-top:10px;
  height:5px;
}

.searchbarContainer {
  padding-left:70px;
  padding-right:70px;
}

.infoPane {
  float:right;
  padding-right:50px;
  padding-left:30px;
  width:20%;
  height:100%;
  border-left:2px solid #121212;
}

.infoPane img {
  margin-left:30px;
}

.QA {
  margin-bottom:60px;
  font-weight:300;
}

.QA p{
  margin-top:-10px;
  padding-top:0px;
}

.loaderContainer {
  margin-top:20px;
  margin-left:70px;
  width:65%;
  text-align:center;
}

.banksContainer{
  margin-top:20px;
  margin-left:70px;
  width:65%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom:50px;
}

.unlinkBankCard {
  margin-top:10px;
  background:white;
  margin-left:70px;
  margin-right:70px;
  border: 1px solid #E0DBDB;
  margin-bottom:10px;

}

.unlinkBankCard img {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:30px;
  border-radius:50%;
  width:70px;
  height:70px;
  float:left;
  margin-right:20px;
}

.unlinkBankCard .textContainer {
  padding-top:15px;
  margin-top:10px;
  height:70px;
}

.unlinkBankCard p {
  margin:0;
}

.unlinkBankCard button {
  margin:10px;
  margin-top:30px;
  float:right;
  background:white;
  border: 1px solid #E52F4F;
  color: #E52F4F;
  font-size:15px;
  padding:5px 10px;
}
