.header {
  padding-left:70px;
  color:#435061;
}

.header h1 {
  margin-bottom:0px;
}

.infoPane {
  float:right;
  padding-right:50px;
  padding-left:50px;
  width:20%;
  height:100%;
  border-left:2px solid #435061;
}

.QA {
  margin-bottom:60px;
  font-weight:300;
}

.QA p{
  margin-top:-10px;
  padding-top:0px;
}

.banksContainer{
  margin-top:20px;
  margin-left:70px;
  width:65%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom:50px;
}
