.UpdateBankCard {
  background:#AC9456;
  cursor:pointer;
  display:inline-block;
  min-width:325px;
  width:325px;
  height:125px;
  transition: all .2s ease-in-out;
}

.UpdateBankCard:hover {
  transform: scale(1.1);
}

.iconContainer {
  margin-top:20px;
  background:rgba(216,216,216,0.49);
  padding:8px;
  border-radius:50%;
  display:inline-block;
  float:left;
  margin-right:10px;
  margin-left:40px;
}

.icon {
  width:30px;
  height:30px;
}

.title {
  margin-top:20px;
  color:white;
  display:block;
  font-size:25px;
  width:90%;
  margin-bottom:5px;
}

.arrow {
  margin-bottom:20px;
  margin-left:40px;
  width:60%;
}
