.BalanceCard {
  background:white;
  overflow:auto;
  cursor:default;
  display:inline-block;
  /*border: 1px solid #121212;*/
  height:123px;
  width:32%;
}

.title {
  weight:300;
  color:#B3B0AF;
  font-size:20px;
  margin:0;
  margin-left:30px;
  margin-top:20px;
}

.amount {
  weight:400;
  font-size:35px;
  float:left;
  margin:0;
  margin-left:30px;

}

.weeklyAmount {
  margin-top:15px;
  float:left;
  weight: 300;
  color:#AC9456;
  margin-left:10px;
}
