@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&subset=latin-ext');

.Application html, body, #app, .content {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background:#F6F6F6;
}

.Application a, a:visited {
  text-decoration: none;
}

.Application a:link {
   color:inherit;
}

.Application button {
  border-style:none;
  transition: all .2s ease-in-out;
}

.Application button:hover {
  transform: scale(1.1);
}

.Application input {
  border: 1px solid #9199A3;
  background: none;
  -webkit-appearance: none;
  outline: none;
}

input:focus {
  border: none;
  border: 1px solid #313C4B;
  background: none;
}


p {
  color:#313C4B
}

button {
  outline: none;
}
