@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&subset=latin-ext');

.Application html, body, #app, .content {
  font-family: 'Lato', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Application a, a:visited {
  text-decoration: none;
}

.Application a:link {
   color:inherit;
}

.Application button {
  border-style:none;
}

.Application input {
  border: 1px solid #9199A3;
  background: none;
  -webkit-appearance: none;
  outline: none;
}

input:focus {
  border: none;
  border: 2px solid #435061;
  background: none;
}


p {
  color:#435061
}
