.Searchbar{ position:relative;
            padding:0;
            margin:0;


}

.Searchbar form input[type="text"] { border: none; margin:0;border-bottom: 1px solid #121212; }


.input {
  height: 30px;
  font-weight: 300;
  font-size:18px;
  width:100%;
  padding-left:30px;
  margin-top:10px;
}

.input_img {
  position:absolute;
  bottom:8px;
  left:10px;
  width:15px;
  height:15px;
}

.closeIcon {
  position:absolute;
  bottom:8px;
  right:10px;
  width:15px;
  height:15px;
  cursor:pointer;
}
