/**Navbar **/
a{
  color:none
}

.Navbar {
  margin-top:0px;
  padding:0px;
  height:60px;
  background:white;
}

.Navbar p {
  color:#121212;
  padding-bottom:0;

}

.header {
  color:white;
  font-size:30px;
  display: inline-block;
  padding:0px;
  margin-top:10px;
  margin-left:70px;
}

.links {
  display: inline-block;
  margin-top:5px;
  padding-right:70px;
  float:right;
}

.links a {
  display: inline-block;
  color:white;
  margin-left:15px;
  font-weight:400;
}

.Navbar button {
  border: 1px solid #121212;
}

.logoutButton {
  background:white;
  font-size: 12px;
  margin-left:20px;
}
