.BankQuestionPopup {
  background:white;
  width:250px;
  border-radius:10px;
  padding-left:15px;
  margin-left:40%;
  margin-top:70px;
}

.BankQuestionPopup button {
  width:65%;
  height:35px;
  margin-top:20px;
  font-size:15px;
  box-shadow: 1px 1px 1px #888888;
  margin-bottom:20px;
  margin-left:12%;
}

.BankQuestionPopup p {
  color:#9199A3;
  margin-top:5px;
}

.exitButton {
  font-weight:300;
  font-size:20px;
  color:#9199A3;
  float:right;
  background:none;
  cursor:pointer;
  margin:10px;
}

.title {
  font-weight:400;
  font-size:20px;
  margin-bottom:0px;
  padding-top:50px;
  text-align: left;
}

.inputs {
  display: block;
}

.input {
  -webkit-border-radius: 5px;
  height: 35px;
  font-weight: 300;
  font-size:15px;
  width:90%;
  padding-left:5px;
  margin-top:5px;
}
