.enter {
  transform: translate(0%);
}
.enter.enterActive {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.leave {
  transform: translate(0%);
}
.leave.leaveActive {
  transform: translate(-120%);
  transition: transform 800ms ease-in-out;
}
