.info {
  background:clear;
  height:350px;
  padding-top:20px;
  margin-left:63%;
}

.thumbnails {
  height:100px;
  width:450px;
  margin-top:70px;
  margin-left:-60px;
  cursor:pointer;
}

.thumbnail:hover {
transform: scale(1.1);
}

.eventInfo {
  margin-left:-60px;
}

.eventInfo p, .eventInfo h1 {
  padding:0;
  margin:0;
  color:white;
}

.eventInfo h1 {
  width:500px;
}

.eventTitle {
  font-size:35px;
  width:60%;
  width:400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height:90px;
}

.EventCarousel button {
  width:150px;
  height:35px;
  margin-top:35px;
  margin-left:-60px;
  font-size:15px;
  cursor:pointer;
}
