.BalanceGraphic {
  background:white;
  /*border: 1px solid #121212;*/
  width:100%;
  display:flex;
  justify-content:flex-start;
  padding-top:20px;
  padding-bottom:20px;
  cursor:default;
}


.WeeklyBalanceInfo {
  flex-grow:1;
  background:white;
  overflow:auto;
  display:inline-block;
  width:325px;
  max-width:325px;
  min-width:325px;
  flex-basis: 325px | auto;
  display:flex;
  flex-wrap:wrap;
}

.WeeklyBalanceInfo .title {
  color:#B3B0AF;
}

.WeeklyBalanceInfo .info {
  font-size:25px;
  color:#121212;
}

.WeeklyBalanceInfo .infoContainer {
  margin-top:10px;
  margin-bottom:10px;
  width:50%;
  text-align:center;
}

.WeeklyBalanceInfo .infoContainer p {
  margin:0;
}

.graphicContainer {
  display:inline-block;
  width:50%;
  margin-left:60px;
}

.graphicTitle {
  margin-top:10px;
  margin-bottom:25px;
  color:#B3B0AF;
}

.graphic {
  width:100%;

}

.amountBar {
  position:relative;
  background:#AC9456;
  height:10px;
  margin:0;
}

.amount {
  margin:0;
  padding:0;
  color:#AC9456;
}

.totalBar {
  background:#121212;
  height:10px;
}

.total {
  margin:0;
  padding:0;
  color:#121212;
  float:right;
}
